<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'ACKS.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'ACKS.Melee'}} ({{mod data.scores.str.mod}})
      </li>
      <li>
        {{localize 'ACKS.exploration.od.long'}} ({{data.exploration.odMod}}+)
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ACKS.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'ACKS.SpokenLanguages'}} ({{localize data.languages.spoken}})
      </li>
      <li>
        {{localize 'ACKS.Literacy'}} ({{localize data.languages.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ACKS.scores.wis.long'}}</label>
    <ol>
      <li>
        {{localize 'ACKS.saves.magic.long'}} ({{mod data.scores.wis.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ACKS.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'ACKS.Missile'}} ({{mod data.scores.dex.mod}})
      </li>
      <li>
        {{localize 'ACKS.Initiative'}} ({{mod data.scores.dex.init}})
      </li>
      <li>
        {{localize 'ACKS.ArmorClass'}} ({{mod data.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ACKS.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'ACKS.Health'}} ({{mod data.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'ACKS.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'ACKS.NPCReaction'}} ({{mod data.scores.cha.npc}})
      </li>
      <li>
        {{localize 'ACKS.RetainersMax'}} ({{add data.scores.cha.mod 4}})
      </li>
      <li>
        {{localize 'ACKS.Loyalty'}} ({{add data.scores.cha.mod 0}})
      </li>
    </ol>
  </div>
</form>