<form autocomplete="off">
  <div class="form-group">
    <label for="spellcaster">{{localize "ACKS.Spellcaster"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.spells.enabled" id="spellcaster" {{checked
          data.spells.enabled}} data-dtype="Boolean" />
    </div>
  </div>
  <div class="form-group">
    <label for="retainer">{{localize "ACKS.Retainer"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.retainer.enabled" id="retainer" {{checked
          data.retainer.enabled}}  data-dtype="Boolean"/>
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ACKS.InitiativeBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="data.initiative.mod" id="initiative" value="{{data.initiative.mod}}"
        data-dtype="Number" />
    </div>
  </div>
  {{#if (eq this.type 'character')}}
  <div class="form-group">
    <label>{{localize "ACKS.details.experience.next"}}</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp.next" id="experiencenext" value="{{data.details.xp.next}}" data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ACKS.details.experience.bonus"}} (%)</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp.bonus" id="experience" value="{{data.details.xp.bonus}}" data-dtype="Number"/>
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ACKS.details.experience.share"}} (%)</label>
    <div class="form-fields">
      <input type="text" name="data.details.xp.share" id="experience-share" value="{{data.details.xp.share}}" data-dtype="Number"/>
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ACKS.MeleeBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="data.thac0.mod.melee" id="melee" value="{{data.thac0.mod.melee}}" data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ACKS.MeleeDamageBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="data.damage.mod.melee" id="meleedmg" value="{{data.damage.mod.melee}}" data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ACKS.MissileBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="data.thac0.mod.missile" id="missile" value="{{data.thac0.mod.missile}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ACKS.MissileDamageBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="data.damage.mod.missile" id="missiledmg" value="{{data.damage.mod.missile}}" data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ACKS.ArmorClassBonus"}}</label>
    <div class="form-fields">
      {{#if config.ascendingAC}}
      <input type="text" name="data.aac.mod" id="aac" value="{{data.aac.mod}}"
        data-dtype="Number" />
      {{else}}
      <input type="text" name="data.ac.mod" id="ac" value="{{data.ac.mod}}"
        data-dtype="Number" />
        {{/if}}
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ACKS.SaveBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="data.save.mod" id="save" value="{{data.save.mod}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "ACKS.Encumbrance"}}</label>
    <div class="form-fields">
      <input type="text" name="data.encumbrance.max" id="encumbrance" value="{{data.encumbrance.max}}"
        data-dtype="Number" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  <div class="form-group">
    <label for="movementAuto">{{localize "ACKS.Setting.MovementAuto"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="data.config.movementAuto" id="movementAuto" {{checked
          data.config.movementAuto}}  data-dtype="Boolean" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  {{/if}}
  <footer class="sheet-footer">
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "Save Changes"}}
    </button>
  </footer>
</form>