<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
<section class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'ACKS.details.name'}}" data-dtype="String" />
  </h1>
  <ul class="summary flexrow">
    {{#if data.data.retainer.enabled}}
    <li>
      <input type="text" name="data.retainer.wage" value="{{data.data.retainer.wage}}" data-dtype="String"
         />
      <label>{{localize 'ACKS.RetainerWage'}}</label>
    </li>
    {{else}}
    <li>
      <input type="text" name="data.details.title" value="{{data.data.details.title}}" data-dtype="String"
         />
      <label>{{localize 'ACKS.details.title'}}</label>
    </li>
    {{/if}}
    <li>
      <input type="text" name="data.details.alignment" value="{{data.data.details.alignment}}" data-dtype="String"
         />
      <label>{{localize 'ACKS.details.alignment'}}</label>
    </li>
    {{#if data.data.retainer.enabled}}
    <li class="flexrow check-field">
      <div class="check morale-check" title="{{localize 'ACKS.roll.morale'}}"><a><i class="fas fa-dice"></i></a></div>
      <div>
        <input type="text" name="data.details.morale" value="{{data.data.details.morale}}" />
        <label>{{localize 'ACKS.details.morale'}}</label>  
      </div>
    </li>
    <li class="flex2 check-field" data-stat="lr">
      <div class="check loyalty-check" title="{{localize 'ACKS.loyalty.check'}}"><a><i class="fas fa-dice"></i></a></div>
      <div class="attribute-value">
        <input name="data.retainer.loyalty" type="text" value="{{data.data.retainer.loyalty}}" placeholder="Loyal" data-dtype="String" />
        <label>{{localize 'ACKS.Loyalty'}}</label>  
      </div>
    </li>
    {{/if}}
  </ul>
  <ul class="summary flexrow">
    <li class="flex3">
      <input type="text" name="data.details.class" value="{{data.data.details.class}}" data-dtype="String"
        />
      <label>{{localize 'ACKS.details.class'}}</label>
    </li>
    <li class="{{#if (gt data.data.details.xp.value data.data.details.xp.next)}}notify{{/if}}">
      <input type="text" name="data.details.level" value="{{data.data.details.level}}" data-dtype="Number"
         />
      <label>{{localize 'ACKS.details.level'}}</label>
    </li>
    <li class="flex2">
      <input type="text" name="data.details.xp.value" value="{{data.data.details.xp.value}}" data-dtype="Number"
         />
      <label>{{localize 'ACKS.details.experience.base'}}</label>
      {{#if data.data.details.xp.bonus}}
      <span class="xp-bonus">+{{data.data.details.xp.bonus}}%</span>
      {{/if}}
    </li>
  </ul>
</section>